/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Begin site styles below */

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;

}

body {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-right: 2.44444444em; /* 44 / 18 = 2.44444444 */
  padding-left: 2.44444444em; /* 44 / 18 = 2.44444444 */
}

h1,
p {
  padding-bottom: 1.222em; /* 22 / 18 = 1.2222222222 */
}

h1 {
  font-size: 2.38889em; /* 42 / 18 = 2.38889 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
  text-align: center;
}

ol {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  list-style-type: none;
}

li {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}

img {
  display: block;
  max-width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}

.movies {
   max-width: 11em;
}

#home,
#theaters {
  position: relative;
  color: white;
  background: url(images/theater.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#description {
  text-align: center;
}

#footer {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}
#footer {
  padding-top: 5%;
}

figure {
  width: 70%;
  margin: 0 auto;
}

figure h2 {
  display: block;
  height: 1em;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  background: #333;
  text-align: center;
}

.row h3 {
  left: -100vw;
  position: absolute;
}
.rows {
  padding-top: 0.611em; /* 11 / 18 = 0.6111 */
}
.seats {
  display: flex;
  justify-content: center;
}
.seats a {
  background: grey;
  color: white;
  display: block;
  line-height: 1;
  margin-right: 0.611em; /* 11 / 18 = 0.6111 */
  margin-bottom: 0.611em; /* 11 / 18 = 0.6111 */
  padding: 0.722em 0; /* 13 / 18 = 0.722 */
  width: 44px;
  text-align: center;
  text-decoration: none;
}

.seats a.selected {
  background: rgba(55,206,208,1); /* #37ced0 */
  color: #222;
}

label,
input {
  display: block;
  font-size: inherit;
  line-height: inherit;
}

label {
  height: 1.222em; /* 22 / 18 = 1.222em */
}

input {
  box-sizing: border-box;
  border: 0;
  line-height: 1;
  padding: 0.722em 0; /* 13 / 18 = 0.722 */
  height: 2.444em; /* 44 / 18 = 2.444 */
  background: inherit;
}

input[type="submit"] {
  cursor: pointer;
  background: #CCC;
  padding: 0.611em; /* 11 / 18 = 0.6111; (22 - 13) = 9 / 18 = 0.5 */
  border-radius: 0.2em;
  float: right;
}

#inputs li {
  padding: 0.611em; /* 11 / 18 = 0.6111; (22 - 13) = 9 / 18 = 0.5 */
  margin-bottom: 0.611em; /* 11 / 18 = 0.6111 */
  border-radius: 0.2em;
}
#inputs .submit {
  padding-right: 0;
  background: inherit;
}

a,
input {
  color: #37ced0;
}

input::placeholder {
  color: #37ced0;
  opacity: 0.7;
}

input[type="submit"] {
  background: #37ced0;
  color: #222;
}

#inputs li {
  /* border: 1px solid #444; */
  background: #3F3F3F;
}

#inputs .submit {
  border: 0;
}

label b {
  color: red;
}

#purchase-button:hover {
  color: white;
  background-color: purple;
  cursor: pointer;
  margin-bottom: 2rem;
}
/*.js img {
  cursor: pointer;
}

.js body {
  padding-top: 3.667em;
}

.js body:after {
  content: "expanded-nav";
  display: none;
}

.js body.is-showing-expanded-nav {
  padding-top: 30em;  286px / 18px = 15.88...
}

.js #menu {
  line-height: inherit;
  padding-bottom: 0;
}

.js #navigation ul {
  display: none;
}

.js #navigation ul.is-visible {
  display: block;
} */
